.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width :768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
  
}
.search {
    background-color: #171717;
    padding: 50px 0;
    width: 100%;
    margin: auto;
   
}
.search form {
    margin: auto;
}
.search form h3 {
        margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.35em;
    color: #5a5a5a;
}
.search form input {
    border: 0;
    color: #a2a2a2;
    border-radius: 3px;
  

    padding: 10px;
    width: 70%;



    height: 40px;
    background: #282828;
}

.search form button {
    margin-left: 44px;
    background: #6ac045;
    color: white;
    padding: 7px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4PX;
    cursor: pointer;
}
.search form input:focus {
    outline: none;
}
.search form .allselect {
    display: flex;
    margin: 40px auto;
  
}
.search form .allselect .selects {
     
    width: 130px;
    margin-right: 20px;
   
}
.search form .allselect .selects p {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: .9em;
    color: #5a5a5a;
    
}
.search form .allselect .selects select {
    margin: 0;
    border-radius: 3px;

    width: 130px;
    padding-left: 10px;
 
    box-sizing: border-box;
    height: 40px;
    color: #a2a2a2;
    font-size: .9em;
    font-weight: normal;
    overflow: hidden;
   background-color: #282828;
}
.search form .allselect .selects select:focus {
    outline: none;
}
.search form .clear {
     margin-left: 44px;
    background: #6ac045;
    color: white;
    padding: 7px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4PX;
    cursor: pointer;
    text-transform: capitalize;
}
@media (max-width: 767px) {

    .search {
        padding: 30px 15px;
    }

    .search form h3 {
        text-align: center;
        font-size: 1.1em;
    }

    .search form input {
        width: 100%;
        margin-bottom: 15px;
    }

    .search form button,
    .search form .clear {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .search form .allselect {
        flex-wrap: wrap;
        gap: 15px;
        margin: 20px 0;
    }

    .search form .allselect .selects {
        width: 100%;
        margin-right: 0;
    }

    .search form .allselect .selects select {
        width: 100%;
    }
}
