.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width :768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
  
}
@keyframes shimmer {
  0% { background-position: -450px 0; }
  100% { background-position: 450px 0; }
}

.skeleton-box {
  background: #252525;
  background-image: linear-gradient(to right, #252525 0%, #333 20%, #252525 40%, #252525 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  animation: shimmer 1.5s linear infinite forwards;
  border-radius: 8px;
}

.skeleton-img { width: 100%; aspect-ratio: 2/3; margin-bottom: 10px; }
.skeleton-text { width: 80%; height: 18px; margin-bottom: 10px; }
.skeleton-subtext { width: 40%; height: 14px; }
.banner {
        background: url(https://img.yts.lt/assets/images/movies/good_boy_2025/background.jpg) no-repeat center center;
        background-size: cover;
        height: calc(100vh +50px);
        position: relative;
       /* z-index: 100;*/
}
.banner .overlay {
       position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1;

}
.banner > .text,
.banner > .info,
.banner .container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
    .banner  .text {
        display: none;
    }
}


.banner .container .banner-content {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
        gap: 30px;
}
.banner .container .banner-content {
        padding: 50px 0;
}
.banner .container .banner-content .image {
        width: 100%;
        height: 350px;
}
.banner .container .banner-content .img {
        border: 5px solid white;
        transition: 0.3s;
        width: 100%;
      height: 100%;
        display: block;
      
}

.banner .container .banner-content .img:hover {
        border: 5px solid #6ac045;
}
.banner .container .banner-content .box {
        position: relative;
}

.banner .container .banner-content .box .info-content {
          position: absolute;
inset-block-start: 50%;
inset-inline-start: 50%;
transform: translate(-50% , -50%);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: none;
    transition: 0.2s;
     
}
.banner .container .banner-content .box .info-content h2 {
     color:white;
}
.banner .container .banner-content .box .info-content a {
        background-color: #6ac045;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
}
.banner .container .banner-content .box:hover .info-content {
        display: inline-flex;
}
.broweserall .container .broweser-content {
        display:grid ;
           grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
        gap: 30px;
        
}
.broweserall .container .broweser-content .image {
        width: 100%;
        height: 350px;
}
.broweserall .container .broweser-content .img {
        border: 5px solid white;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        display: block;
      
}

.broweserall .container .broweser-content .img:hover {
        border: 5px solid #6ac045;
}
.broweserall .container .broweser-content .box {
        position: relative;
}
.broweserall .container .broweser-content .box .info-content {
          position: absolute;
inset-block-start: 50%;
inset-inline-start: 50%;
transform: translate(-50% , -50%);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: none;
    transition: 0.2s;
    text-align: center;
     
}
.broweserall .container .broweser-content .box:hover .info-content {
        display: inline-flex;
}
.broweserall .container .broweser-content .box .info-content h2 {
       color: white;
}
.broweserall .container .broweser-content .box .info-content a {
        background-color: #6ac045;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
}
.up {
        padding: 50px 0;
}
.up .container .up-content {
           display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
        gap: 30px;
        margin-top: 30px;
}
        .up .container .up-content .image {
         
        
}
        
       .up .container  .up-content .box img {
        border: 5px solid white;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        display: block;
      
}

.up .container .up-content .img:hover {
        border: 5px solid #6ac045;
}
.up .container .up-content .box {
        position: relative;
}
.up .container .up-content .box .info-content {
          position: absolute;
inset-block-start: 50%;
inset-inline-start: 50%;
transform: translate(-50% , -50%);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: none;
    transition: 0.2s;
    text-align: center;
     
}
.up .container .up-content .box:hover .info-content {
        display: inline-flex;
}
.up .container .up-content .box .info-content h2 {
       color: white;
}
.up .container .up-content .box .info-content a {
        background-color: #6ac045;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
}
