.paginate {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.paginate ul {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
}


.paginate li {
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #111;
}


.paginate li a {
  display: block;
  padding: 8px 14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
}


.paginate li a:hover {
  background-color: #333;
}


.paginate li.selected {
  background-color: #22c55e; 
  border-color: #22c55e;
}

.paginate li.selected a {
  color: #fff;
  font-weight: bold;
}


.paginate li.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.paginate li.break {
  pointer-events: none;
}
@media (max-width: 767px) {

  .paginate {
    margin-top: 30px;
  }

  .paginate ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  .paginate li a {
    padding: 6px 10px;
    font-size: 14px;
  }
}

.broweser .container .broweser-content {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
        gap: 30px;
}

.broweser .container .broweser-content img {
        border: 5px solid white;
        transition: 0.3s;
      
}
.broweser .container .broweser-content img::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
}
.broweser .container .broweser-content img:hover {
        border: 5px solid #6ac045;
}
.broweser .container .broweser-content .box {
        position: relative;
}
.broweser .container .broweser-content  .box .info {
          position: absolute;
 top: 28%;
    left: 18%;
    transform: translateY(-12%);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: none;
    transition: 0.2s;
     
}
.broweser .container .broweser-content  .box .info h2 {
       color: white;
}
.broweser .container .broweser-content  .box .info a {
        background-color: #6ac045;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
}
.broweser .container .broweser-content .box:hover .info {
        display: inline-flex;
}