.paginate {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.paginate ul {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
}


.paginate li {
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #111;
}


.paginate li a {
  display: block;
  padding: 8px 14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
}


.paginate li a:hover {
  background-color: #333;
}


.paginate li.selected {
  background-color: #22c55e; 
  border-color: #22c55e;
}

.paginate li.selected a {
  color: #fff;
  font-weight: bold;
}


.paginate li.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.paginate li.break {
  pointer-events: none;
}
